<footer>
    <h4>更多信息</h4>
    <div class="moreinfos">
        <div class="info">
            <h5>官方微信</h5>
            <dl>
                <dt>
                    <img src="/images/wechat.png" alt="">
                </dt>
                <dd>
                    <p>汉珍御典官方微信更多产品知识，请扫描二维码。</p>
                </dd>
                <dd>
                    <a href="/qrcode" class="knowmore">了解详情<span></span></a>
                </dd>
            </dl>
        </div>
        <div class="info">
            <h5>产品信息</h5>
            <dl>
                <dt>
                    <img src="/images/product.png" alt="">
                </dt>
                <dd>
                    <p>汗珍御典所用药材均为...</p>
                </dd>
                <dd>
                    <a href="/product" class="knowmore">了解详情<span></span></a>
                </dd>
            </dl>
        </div>
        <div class="info">
            <h5>使用说明</h5>
            <dl>
                <dt>
                    <img src="/images/usedoc.png" alt="" class="specialimg">
                </dt>
                <dd>
                    <p>轻摇瓶体，取适量本品涂于...</p>
                </dd>
                <dd>
                    <a href="/instruction" class="knowmore">了解详情<span></span></a>
                </dd>
            </dl>
        </div>
        <div class="info">
            <h5>客服电话</h5>
            <dl>
                <dt>
                    <img src="/images/phone.png" alt="">
                </dt>
                <dd>
                    <p>全国客服服务热线：400-833-390</p>
                </dd>
                <dd>
                    <a href="/telephone" class="knowmore">了解详情<span></span></a>
                </dd>
            </dl>
        </div>
    </div>
</footer>
