<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<meta name="keywords" content="汉珍御典，中式男露" />
<title>汉珍御典</title>
<link rel="stylesheet" href="/stylesheets/reset.css">
<link rel='stylesheet' href='/stylesheets/style.css' />
