<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/header.ejs %>
    <main>
        <div class="agentsearch">
            <div>
                <input type="text" class="inputtext" id="agent" placeholder="输入授权网店微信号">
                <input type="submit" class="searchbtn" value="" id="searchbtn">
            </div>
        </div>
    </main>
    <% include ./partials/footer.ejs %>
  </body>
  <script src="/javascripts/search.js"></script>
</html>
