<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/header.ejs %>
    <main>
        <div class="agentsearch">
            <form method="POST" action="">
                <input type="text" class="inputtext" name="name" placeholder="输入授权网店微信号">
                <input type="submit" class="searchbtn" value="">
            </form>
        </div>
    </main>
    <% include ./partials/footer.ejs %>
  </body>
</html>
