<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/header.ejs %>
    <main>
        <img src="/images/certification.jpg" alt="">
    </main>
    <% include ./partials/footer.ejs %>
  </body>
</html>
