<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/header.ejs %>
    <!-- <main>
        <img src="/images/index.jpg" alt="">
        <img src="/images/jl12chai.png" alt="">
    </main> -->
    <div class="banner">
      <ul>
        <li><img src="/images/index.jpg" alt=""></li>
        <li><img src="/images/jl12chai.png" alt=""></li>
      </ul>
    </div>
    <!-- <div class="banner">
        <ul><li>This is my slider.</li><li>Pretty cool, huh?</li></ul>
    </div> -->

    <% include ./partials/footer.ejs %>
  </body>
  <script src="/javascripts/unslider-min.js"></script>
  <script>
    $(function() {
      $('.banner').unslider();
    });
  </script>
</html>
