<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/header.ejs %>
    <main>
        <img src="/images/jl1.jpg" alt="">
        <img src="/images/jl2.jpg" alt="">
        <img src="/images/jl4.jpg" alt="">
        <img src="/images/jl5.jpg" alt="">
        <img src="/images/jl6.jpg" alt="">
        <img src="/images/jl7.jpg" alt="">
        <img src="/images/jl8.jpg" alt="">
        <img src="/images/jl9.jpg" alt="">
    </main>
    <% include ./partials/footer.ejs %>
  </body>
</html>
