<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/header.ejs %>
    <main>
        <div class="searchresult">
            <p><%= result %></p>
        </div>
    </main>
    <% include ./partials/footer.ejs %>
  </body>
</html>
